:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

#dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#title-container {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2.5em;
  }
}

#map-container {
  width: 100%;
  height: 70%;
}

#timeline-container {
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country {
  fill: #1a1a1a;
  stroke: #242424;
}

.country.active {
  fill: #646cff;
  transition: fill 0.25s ease-in-out;
}

.country.active:hover {
  fill: #747bff;
}

.circuit-marker {
  fill: #ff4d4d;
  stroke: #242424;
  cursor: pointer;
  transition: fill 0.25s;
}

.tooltip {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple   Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: rgba(69, 77, 93, 0.9);
  border-radius: 0.1rem;
  display: block;
  font-size: 11px;
  max-width: 320px;
  padding: 0.2rem 0.4rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: pre;
  z-index: 300;
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
